.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 28px;
  text-align: center;
  margin: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

p {
  font-size: 18px;
  text-align: center;
  align-items: center;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  color: white;
}

button.add {
  background-color: bisque;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 400px;
}

button.sub {
  background-color: red;
  justify-content: center;
  align-items: center;
}

button.reset {
  background-color: aqua;
}

button.del {
  background-color: black;
}

button.trigger {
  background-color: purple;
  padding-left: 40px;
}
